.intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

a {
  color: inherit;
}

.text-center {
  text-align: center;
}

.text-comanda {
  margin-top 25px;
  p {
    margin-bottom 5px;
  }
}

p.note {
    margin-top: 10px;
}